.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.box {
    background-color: blue;
    height: 100px;
    width: 400px;
    border-radius: 5px;
    cursor: pointer;
}

.box.red {
    background-color: red;
}